<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/main.css" />
  <meta name="viewport" content="width=640" />
  <meta name="apple-itunes-app" content="app-id=576258650">
</head>
<body>  
  <div class="header">
    <a href="http://healthyprog.com">
      <img src="/images/logo_bw.png" width="610"/>
    </a>
  </div>
  <div>
   <!--  <table style="width:100%">
      <tr>
        <td style="width:33%"></td>
        <td style="min-width:400px"> -->
          <p style="color:white;text-align:center">
            <a href="/index.html" class="headerlink" 
              {% if page.url == "/index.html" %}
                style="text-decoration:underline"
              {% endif %}>Home</a>
            &nbsp;&nbsp;&nbsp;
            <a href="/blog.html" class="headerlink"
              {% if page.url == "/blog.html" %}
                style="text-decoration:underline"
              {% endif %}>News</a>
            &nbsp;&nbsp;&nbsp;
            <a href="/goals.html" class="headerlink"
              {% if page.url == "/goals.html" %}
                style="text-decoration:underline"
              {% endif %}>Goals</a>
            &nbsp;&nbsp;&nbsp;
            <a href="/tools.html" class="headerlink"
            {% if page.url == "/tools.html" %}
                style="text-decoration:underline"
              {% endif %}>Tools</a>
            &nbsp;&nbsp;&nbsp;
            <a href="/downloads.html" class="headerlink"
              {% if page.url == "/downloads.html" %}
                style="text-decoration:underline"
              {% endif %}>Resources</a>
          </p>
       <!--  </td>
        <td style="width:33%; text-align: right">
          <p style="color:white">
            sign in
          </p>
        </td>
      </tr>
    </table> -->
  </div>
  <div class="main">
    <div>
      <!-- <h2>{{page.title}}</h2> -->
      {% if page.name %}
        <h2>{{page.name}}</h2>
      {% endif %}
      {% if page.description %}
        <h3>{{page.description}}</h3>
      {% endif %}
    </div>   
    {{content}}
    <div class="details-wrapper ">
     
    </div>
    <div class="clear"></div>
  </div>
  <div class="footer">
    <a href="http://pragprog.com/book/jkthp/the-healthy-programmer">
      <img class="button" src="/images/get-the-book.png" width="150"/>
    </a>
  </div>
  <div class="footer">
    <a href="https://twitter.com/healthyprog" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @healthyprog</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
  <div class="footer">
    &copy; 2012 Logichaus, LLC
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="http://logichaus.com">About</a>
  </div>
</body>
</html>