<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/main.css" />
  <meta name="viewport" content="width=320" />
</head>
<body>  
  <div class="header">
    <a href="#">
      <img src="../../images/logo_bw.png" width="600"/>
    </a>
  </div>
  <div>
    <p style="color:white;text-align:center">
      <a href="/dashboard.html" class="headerlink">Home</a>
      &nbsp;&nbsp;&nbsp;
      <a href="#" class="headerlink">News</a>
      &nbsp;&nbsp;&nbsp;
      <a href="/goals.html" class="headerlink">Goals</a>
      &nbsp;&nbsp;&nbsp;
      <a href="/tools.html" class="headerlink">Tools</a>
      &nbsp;&nbsp;&nbsp;
      <a href="/downloads.html" class="headerlink">Downloads</a>
    </p>
  </div>
  <div class="main">
    <div>
      <h2>{{page.title}}</h2>
      <h3>{{page.description}}</h3>
    </div>   
    {{content}}
    <div class="details-wrapper ">
     
    </div>
    <div class="clear"></div>
  </div>
  <div class="footer">
    <a href="http://itunes.apple.com/us/app/whiskey-log/id540819173">
      <img class="button" src="../../images/get-the-book.png" width="150"/>
    </a>
  </div>
  <div class="footer">
    &copy; 2012 Logichaus, LLC
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="http://logichaus.com">About</a>
  </div>
</body>
</html>